<html>
    <p>A production-quality JMonkeyEngine 3.3 patch release with the following changes relative to 3.3.0-stable:</p>
    <ul>
        <li>low-risk bugfixes in the libraries
            <ul>
                <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/1304" data-hovercard-type="issue" data-hovercard-url="/jMonkeyEngine/jmonkeyengine/issues/1304/hovercard">Issue 1304</a>, <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/1321" data-hovercard-type="pull_request" data-hovercard-url="/jMonkeyEngine/jmonkeyengine/pull/1321/hovercard">PR 1321</a>, <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/1340" data-hovercard-type="issue" data-hovercard-url="/jMonkeyEngine/jmonkeyengine/issues/1340/hovercard">Issue 1340</a>:  PBR shader fails to compile</li>
                <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/1347" data-hovercard-type="issue" data-hovercard-url="/jMonkeyEngine/jmonkeyengine/issues/1347/hovercard">Issue 1347</a>: <code>ClassCastException</code> in <code>TerrainPath.reIndexGeometry()</code></li>
                <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/1338" data-hovercard-type="pull_request" data-hovercard-url="/jMonkeyEngine/jmonkeyengine/pull/1338/hovercard">PR 1338</a>: <code>AndroidNativeImageLoader</code> attempts to open stream 2x</li>
                <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/1341" data-hovercard-type="issue" data-hovercard-url="/jMonkeyEngine/jmonkeyengine/issues/1341/hovercard">Issue 1341</a>: indirect audio buffer causes OpenAL to crash</li>
                <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/995" data-hovercard-type="issue" data-hovercard-url="/jMonkeyEngine/jmonkeyengine/issues/995/hovercard">Issue 995</a>: unclosed query in <code>DetailedProfiler</code></li>
                <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/1272" data-hovercard-type="issue" data-hovercard-url="/jMonkeyEngine/jmonkeyengine/issues/1272/hovercard">Issue 1272</a>: renderer mistakenly believes it is on mobile</li>
                <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/1319" data-hovercard-type="issue" data-hovercard-url="/jMonkeyEngine/jmonkeyengine/issues/1319/hovercard">Issue 1319</a>: deadlock if context initialization fails</li>
                <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/1322" data-hovercard-type="pull_request" data-hovercard-url="/jMonkeyEngine/jmonkeyengine/pull/1322/hovercard">PR 1322</a>: <code>GL_INVALID_ENUM</code> in debug mode</li>
                <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/1360" data-hovercard-type="issue" data-hovercard-url="/jMonkeyEngine/jmonkeyengine/issues/1360/hovercard">Issue 1360</a>: <code>ArmatureDebugAppState</code> causes <code>OpenGLException</code></li>
            </ul>
        </li>
        <li>improvements to tests and examples</li>
        <li>improvements to javadoc and code formatting</li>
    </ul>
</html>
