<html>
    <p>A production-quality JMonkeyEngine 3.5 patch release with the following changes relative to 3.5.1-stable:</p>
    <ul>
        <li>solved <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/1710">issue 1710 - can't create windows on armhf platforms</a> by upgrading LWJGL to v3.3.1</li>
        <li>solved <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/1788">issue 1788 - mipmaps generated for wrong framebuffer</a> by backporting <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/1791">PR 1791</a></li>
    </ul>
</html>
