<html>
    <p>A production-quality JMonkeyEngine 3.6 patch release with the following noteworthy changes relative to 3.6.0-stable:</p>
    <ul>
        <li>re-initialize the renderer on each context restart (issues <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/798">#798</a> and <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/801">#801</a>, PR <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/1988">#1988</a>)</li>
        <li>update the LWJGL3 libraries from v3.3.1 to v3.3.2 (<a href="https://github.com/jMonkeyEngine/jmonkeyengine/commit/76ebd1443ccc18249e9f082d528cd39baf59da84"><tt>76ebd14</tt></a> and issue <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/1778">#1778</a>)</li>
        <li>app crashes when using OpenGL version 3.0 and 3.1 (issue <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2011">#2011</a>, PR <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2009">#2009</a>)</li>
        <li>instanced objects are culled when using <code>WaterFilter</code> (issue <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2007">#2007</a>, PRs <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2008">#2008</a> and <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2036">#2036</a>)</li>
        <li>better messages in <code>Spatial</code> assertions (issue <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/1992">#1992</a>, PR <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/1993">#1993</a>)</li>
        <li>use <code>PrimitiveAllocator</code> by default on Android (PR <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2029">#2029</a>)</li>
        <li>serialization of <code>ShaderNodeDefinition</code> (issue <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2034">#2034</a>, PR <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2035">#2035</a>)</li>
    </ul>

</html>
