<html>
  <p>A production-quality JMonkeyEngine 3.7.0 stable release with the following noteworthy changes relative to 3.6.1-stable:</p>
  <ul>
    <li>
 fixes issue <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2277">#2277</a> (GltfLoader issues) by @JNightRide <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2309">#2309</a>
    </li>
    <li>
 test and fix for issue <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2282">#2282</a> (VerifyError while creating AXIS_SWEEP_3 space) by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2283">#2283</a>
    </li>
    <li>
 TestBrickTower:  delete secondary version of the BSD license by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2286">#2286</a>
    </li>
    <li>
 Add MipMaps to PBRTerrainAdvancedTest.java by <a href="https://github.com/yaRnMcDonuts">@yaRnMcDonuts</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2289">#2289</a>
    </li>
    <li>
 Setting the resolution to match the old prevents calling reshape by <a href="https://github.com/tonihele">@tonihele</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2290">#2290</a>
    </li>
    <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2275">#2275</a> Improve assertions for invalid transforms. by <a href="https://github.com/richardTingle">@richardTingle</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2276">#2276</a>
    </li>
    <li>
 Fix Casting error that occurred on certain GPUs by <a href="https://github.com/yaRnMcDonuts">@yaRnMcDonuts</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2274">#2274</a>
    </li>
    <li>
 implement equals(), hashCode(), and isSimilar() for bounding volumes by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2252">#2252</a>
    </li>
    <li>
 June 2024 update to README.md by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2281">#2281</a>
    </li>
    <li>
 partial revert of PR <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2060">#2060</a> (JSON parser abstraction) by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2278">#2278</a>
    </li>
    <li>
 Gradle build (zip) by @JNightRide in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2235">#2235</a>
    </li>
    <li>
 Logic code error (LwjglCanvas - LWJGL3) by @JNightRide in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2238">#2238</a>
    </li>
    <li>
 Fix SkeletonDebugger deserializing by <a href="https://github.com/tonihele">@tonihele</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2228">#2228</a>
    </li>
    <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2224">#2224</a> Fix bug where the clipRect would be left in the openGL state  by <a href="https://github.com/richardTingle">@richardTingle</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2225">#2225</a>
    </li>
    <li>
 Logs exception as severe on asset locator instantiation failure by <a href="https://github.com/codex128">@codex128</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2232">#2232</a>
    </li>
    <li>
 stop building with JDK 8 at GitHub Actions by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2254">#2254</a>
    </li>
    <li>
 Remove material cache, some materials seem not work when cloned by <a href="https://github.com/tonihele">@tonihele</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2255">#2255</a>
    </li>
    <li>
 solution for issue <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2250">#2250</a> (exceptions from Image.setMultiSamples(1)) by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2251">#2251</a>
    </li>
    <li>
 main.yml:  upgrade the wrapper validation action to v3 by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2257">#2257</a>
    </li>
    <li>
 update Groovy to v3.0.21 by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2212">#2212</a>
    </li>
    <li>
 don't code the Gradle version in build.gradle by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2213">#2213</a>
    </li>
    <li>
 jme3-examples:  add the TestIssue2209 class by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2214">#2214</a>
    </li>
    <li>
 Use precision qualifiers only in GL ES shaders by <a href="https://github.com/riccardobl">@riccardobl</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2217">#2217</a>
    </li>
    <li>
 Added Test Class for SingleLayerInfluenceMask by <a href="https://github.com/codex128">@codex128</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2218">#2218</a>
    </li>
    <li>
 VarType: format code by <a href="https://github.com/capdevon">@capdevon</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2199">#2199</a>
    </li>
    <li>
 MaterialDebugAppState: format code by <a href="https://github.com/capdevon">@capdevon</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2200">#2200</a>
    </li>
    <li>
 MatParam: format code by <a href="https://github.com/capdevon">@capdevon</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2202">#2202</a>
    </li>
    <li>
 xxxLightShadowFilter: format code + javadoc by <a href="https://github.com/capdevon">@capdevon</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2204">#2204</a>
    </li>
    <li>
 AbstractShadowRenderer.setRenderBackFacesShadows(): Change input type Boolean -&gt; boolean by <a href="https://github.com/capdevon">@capdevon</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2206">#2206</a>
    </li>
    <li>
 Vector2f: added final static variables NAN, UNIT_X, UNIT_Y, &#x2026; by <a href="https://github.com/capdevon">@capdevon</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2198">#2198</a>
    </li>
    <li>
 Fix render states merging when additionalState is not set by <a href="https://github.com/riccardobl">@riccardobl</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2208">#2208</a>
    </li>
    <li>
 build.gradle:  update Gradle version to match gradle-wrapper.properties by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2207">#2207</a>
    </li>
    <li>
 Fix divide by 0 in shadow utils for some scenes <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2209">#2209</a> by <a href="https://github.com/riccardobl">@riccardobl</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2210">#2210</a>
    </li>
    <li>
 UBO/SSBO Improvements, Structs, BufferObject and sub data update by <a href="https://github.com/riccardobl">@riccardobl</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/1782">#1782</a>
    </li>
    <li>
 Expand support for GL ES / WebGL compatible formats. by <a href="https://github.com/riccardobl">@riccardobl</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2101">#2101</a>
    </li>
    <li>
 Lwjgl3 canvas by <a href="https://github.com/tonihele">@tonihele</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/1868">#1868</a>
    </li>
    <li>
 LwjglCanvas using lwjgl-jawt by @JNightRide in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2153">#2153</a>
    </li>
    <li>
 Adds SingleLayerInfluenceMask by <a href="https://github.com/codex128">@codex128</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2043">#2043</a>
    </li>
    <li>
 Accelerated env baking on the GPU by <a href="https://github.com/riccardobl">@riccardobl</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/1165">#1165</a>
    </li>
    <li>
 Create CompositeAppState.java by <a href="https://github.com/pspeed42">@pspeed42</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2193">#2193</a>
    </li>
    <li>
 Fix PBR Support for Glow by <a href="https://github.com/codex128">@codex128</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2162">#2162</a>
    </li>
    <li>
 update the "gson" library to v2.10.1 by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2183">#2183</a>
    </li>
    <li>
 update copyright years in the license by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2182">#2182</a>
    </li>
    <li>
 solve issue <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2178">#2178</a> (PBRTerrainTest typo) by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2181">#2181</a>
    </li>
    <li>
 solve issue <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2177">#2177</a> (PBRTerrainAdvancedTest typo) by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2180">#2180</a>
    </li>
    <li>
 document issue <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2089">#2089</a> (scale factors assumed positive) by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2156">#2156</a>
    </li>
    <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2176">#2176</a> Make LWJGLBufferAllocator use nmemCalloc() instead of nmemAlloc() by <a href="https://github.com/JosiahGoeman">@JosiahGoeman</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2179">#2179</a>
    </li>
    <li>
 solve issue <a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2184">#2184</a> (smart quotes in log messages) by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2185">#2185</a>
    </li>
    <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2174">#2174</a> deprecate key classes in JME3-vr.  by <a href="https://github.com/richardTingle">@richardTingle</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2175">#2175</a>
    </li>
    <li>
 com.jme3.anim.tween.action.Action: basic javadoc by @Scrappers-glitch in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2019">#2019</a>
    </li>
    <li>
 com.jme3.anim.tween.action.BaseAction: basic javadoc by @Scrappers-glitch in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2020">#2020</a>
    </li>
    <li>
 Move NoiseLib.glslib to more appropriate location by <a href="https://github.com/yaRnMcDonuts">@yaRnMcDonuts</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2189">#2189</a>
    </li>
    <li>
 update GitHub actions: setup-java to v4, wrapper-validation-action to v2 by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2192">#2192</a>
    </li>
    <li>
 IBLGLEnvBaker:  don't share a logger with IBLHybridEnvBakerLight by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2187">#2187</a>
    </li>
    <li>
 BoundingSphereDebug: removed the unused variable radius and its getter method getRadius() by <a href="https://github.com/capdevon">@capdevon</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2196">#2196</a>
    </li>
    <li>
 update the Gradle wrapper to v7.6.4 by <a href="https://github.com/stephengold">@stephengold</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2197">#2197</a>
    </li>
    <li><a href="https://github.com/jMonkeyEngine/jmonkeyengine/issues/2194">#2194</a> add ClipAction.getAnimClip() method, remove ClipAction.reset() method by <a href="https://github.com/capdevon">@capdevon</a> in <a href="https://github.com/jMonkeyEngine/jmonkeyengine/pull/2195">#2195</a>
    </li>
  </ul>
</html>
